[submodule "themes"]
	path = pelican-themes
	url = git@github.com:agrrh/pelican-themes.git
	branch = add-custom-js-to-pelican-bootstrap3
[submodule "plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
