[submodule "themes"]
	path = themes
	url = git@github.com:agrrh/pelican-themes.git
	branch = add-custom-js-to-pelican-bootstrap3
[submodule "plugins"]
	path = plugins
	url = git@github.com:getpelican/pelican-plugins.git
