agrrh.com {
  git github.com/agrrh/agrrh.com {
    path ../agrrh.com-src
    args --recursive --depth 1
    hook /github-push SecretPassPhraseHere
    then_long pelican -o ../agrrh.com .
  }

  root /var/www/agrrh.com

# Uncoment to enable maintenance
#  redir 307 {
#    if {remote} not 127.0.0.1
#    if {path} not /errors/maintenance.html
#    /errors/maintenance.html
#  }

  log /var/log/caddy/agrrh.com.access.log {
    rotate_size 10
    rotate_age 7
    rotate_keep 5
    rotate_compress
  }
  errors /var/log/caddy/agrrh.com.errors.log {
    rotate_size 10
    rotate_age  7
    rotate_keep 5
    rotate_compress
  }

  gzip
  minify /theme/js /theme/css
  expires {
    match .(css|js|png|jp(e)?g)$ 7d
  }

  ext .html .htm
}
