/* Custom CSS */

/* Image resize on click */

img[alt=preview] {
  width: 40%;
  cursor: pointer;
}

/* Line height fix */

div.summary > p,
div.entry-content > p,
div.summary > pre > code,
div.entry-content > pre > code {
  line-height: 1.4;
}

/* Entry header fix */

section#content > article > header.page-header,
section#content > article > header.page-header > h1 {
  margin: 12px 0px;
}

div.entry-content > div.panel > div.panel-body {
  padding: 0px 15px;
}

/* ul/li line-height fix */

div.entry-content > ul > li {
  margin-bottom: 12px;
}

div.entry-content > ul > li > ul > li {
  line-height: 1.6;
}
