/* Custom CSS */

img[alt=preview] {
  width: 40%;
  cursor: pointer;
}

div.summary > p,
div.entry-content > p,
div.summary > pre > code,
div.entry-content > pre > code {
  line-height: 1.4;
}

section#content > article > header.page-header {
  margin: 12px 0px;
}
