body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

h1 {
  font-size: 19px;
}

.message {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
  padding: 16px 32px;
  background: #333;
}
